redirect 301 /subscribe.html http://www.lowerlodgecandles.com/collections
redirect 301 /fskmi.html http://www.lowerlodgecandles.com/collections
redirect 301 /juniperhill.html http://www.lowerlodgecandles.com/juniper-hill